RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteCond %{REQUEST_URI} ^/api/v1/ [NC]
RewriteRule ^ - [L]

RewriteRule ^ /app/index.html [L]
